.Navbar {
    padding: 0 16px;
    width: 100%;
    height: var(--navbar-height);
    background: var(--light-bg-redesigned);
    border-bottom: 1px solid var(--hint-redesigned);
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
    align-items: center;

    a {
        color: var(--text-redesigned);
        font: var(--font-m);

        &:hover {
            color: var(--accent-redesigned);
        }
    }
}
